h2 {
    position: relative;
    z-index: 2;
    background-color: #ccc;
}

h2 i {
    position: relative;
    z-index: -1;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}
h2.opened i{
    transform: rotate(180deg);
}

.carouselContent {
    overflow: hidden;
    transition: all 1s ease-in-out;
    max-height: 0em;
}

.opened ~ .carouselContent {
    max-height: 25em;
}
