body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.viewContainer {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}


/*Sidebar*/
aside {
    position: absolute;
    z-index: 1;
    background-color: #EEF4F7;
    width: 70%;
    height: 100%;
}

.container-fluid {
    position: absolute;
    background-color: #fff;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease-in-out;
}

.container-fluid.sidebarOpened {
    transform: translate3d(69.5%, 0, 0);
}

.sidebarOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.sidebarOverlay.sidebarOpened {
    display: block;
}


/**** Accordion CSS ****/
ul.accordion h2 {
    position: relative;
    z-index: 2;
    background-color: #ccc;
}

ul.accordion h2 i {
    position: relative;
    z-index: -1;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

ul.accordion h2.opened i {
    transform: rotate(180deg);
}

ul.accordion .carouselContent {
    overflow: hidden;
    transition: all 1s ease-in-out;
    max-height: 0em;
}

ul.accordion .opened ~ .carouselContent {
    max-height: 25em;
}
