<div class="col-xs-12">
    <ul class="carousel">
    	<li>
	        <h2 ng-click="tigger($event)">Title 1</h2>
	        <div class="carouselContent">
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        </div>
        </li>
        <li>
	        <h2 ng-click="tigger($event)">Title 2</h2>
	        <div class="carouselContent">
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        </div>
        </li>
        <li>
	        <h2 ng-click="tigger($event)">Title 3</h2>
	        <div class="carouselContent">
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        </div>
        </li>
        <li>
	        <h2 ng-click="tigger($event)">Title 4</h2>
	        <div class="carouselContent">
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        </div>
        </li>
        <li>
	        <h2 ng-click="tigger($event)">Title 5</h2>
	        <div class="carouselContent">
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        	<p>Lorem ispsum dolor site amit h ajdhf asdkhf kjashf djasfh asdkfjh asdkjfh aksjdf hashf afas</p>
	        </div>
        </li>
    </ul>
</div>
