<div class="col-xs-12">
    <!-- has-success, has-warning, has-error -->
    <!-- <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span> -->
    <form name="login" ng-submit="loginForm(login)" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" name="fname" ng-model="fname" placeholder="First Name *" required>

        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="lname" ng-model="lname" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" ng-model="username" placeholder="Username *" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email ID *" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password *" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="phone" ng-model="phone" placeholder="Contact Number">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" ng-disabled="!login.$valid" type="submit">Submit</button>
        </div>
    </form>
</div>
